*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: "Poppins",sans-serif;
}
.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #301d10;
    color: white;
    border: 1px solid #301d10;
    
}
.nav_link{
    display: flex;
    list-style: none;
    gap: 25px;
}
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
    margin-right: 20px;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}
.nav_link a{
    text-decoration: none;
    color: white;
}
.nav_link button{
    height: 25px;
    width: 60px;
    background-color: #301d10;
    border-radius: 15px;
    border: 2px solid white;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo_img{
    border-radius: 50%;
}
.big_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.box2{
    background-color: white;
    max-width: 500px;
    width: 90%;
    min-height: 550px;
    border: 1px solid black;
    margin-top: 50px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.box2 input{
    padding:5px;
    width: 100%;
}
.box2{
     font-family: sans-serif;
}
.card img{
    border-radius: 50px;
}
.contact_img{
    display: flex;
    align-items: center;
    gap: 20px;
}
.submitbtn{
    width: 380px;
    height: 30px;
    background-color: #6b503f;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
textarea{
    width: 100%;
}
.footer{
    margin-top: 100px;
    background-color: #301d10;
    height: 100px;
    color: white;
}
.footer1{
    display: flex;
    justify-content: center;
    padding: 40px;
}
@media (max-width: 900px) {
  .big_box {
    flex-direction: column;
    align-items: center;
  }
  .box1, .box2 {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
    margin-top: 50px;
  }
  .nav_bar {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav_link {
    display: none;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    width: 100%;
  }
  .nav_link.active {
    display: flex;
  }
  .hamburger {
    display: flex !important;
  }
}
#name{
     width: 350px;
  height: 30px;
  border-radius: 8px;
}
#contact_form{
    margin-left: 60px;
    margin-top: 40px;
}
#name::placeholder{
  padding-left: 15px;
  color: rgb(151, 149, 149);
}
#email::placeholder{
  padding-left: 15px;
  color: rgb(151, 149, 149);
}
#email{
     width: 350px;
  height: 30px;
  border-radius: 8px;
}
#sub{
     width: 370px;
  height: 40px;
  border-radius: 8px;
}
#sub::placeholder{
    padding: 5px;
    padding-left: 15px;
    color: rgb(151, 149, 149);
    padding-top: 10px;
}
#msg{
     width: 370px;
  height: 40px;
  border-radius: 8px;
}
#msg::placeholder{
    padding: 5px;
    padding-top: 10px;
    padding-left: 15px;
    color: rgb(151, 149, 149);
}
.left {
  width: 500px;
  height: 650px;
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.left h1 {
    color: #301d10;
  font-size: 36px;
  margin-bottom: 10px;
}

.left p {
  color:black;
  margin-bottom: 20px;
}

.pet-img {
  width: 200px;
  margin: 20px 0;
}
.cards {
  display: flex;
  gap: 20px;
}
.card1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.card {
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.petimg{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    filter: drop-shadow(1px 1px 20px #301d10);
}