*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: "Poppins",sans-serif;
}
.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #301d10;
    color: white;
    border: 1px solid #301d10;
    
}
.nav_link{
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav_link a{
    text-decoration: none;
    color: white;
}
.nav_link button{
    height: 25px;
    width: 60px;
    background-color: #301d10;
    border-radius: 15px;
    border: 2px solid black;
}
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
    margin-right: 20px;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo_img{
    border-radius: 50%;
}
.big_box{
    /* background:linear-gradient(#6b503f,white); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.box1{
    max-width: 300px;
    width: 90%;
    min-height: 400px;
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.box2{
    background-color: white;
    max-width: 300px;
    width: 90%;
    min-height: 550px;
    border: 1px solid black;
    margin-top: 50px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.box2 input{
    padding:5px;
    width: 100%;
}
.box2{
     font-family: sans-serif;
}
.box1 img{
    border-radius: 50px;
}
.contact_img{
    display: flex;
    align-items: center;
    gap: 20px;
}
.submitbtn{
    width: 100%;
    height: 30px;
    background-color: #6b503f;
    border-radius: 8px;
    color: white;
}
textarea{
    width: 100%;
}
.footer{
    margin-top: 100px;
    background-color: #301d10;
    height: 100px;
    color: white;
}
.footer1{
    display: flex;
    justify-content: center;
    padding: 40px;
}

/* Responsive Code for Beginners */
@media (max-width: 900px) {
  .big_box {
    flex-direction: column;
    align-items: center;
  }
  .box1, .box2 {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
    margin-top: 50px;
  }
  .nav_bar {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav_link {
    display: none;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    width: 100%;
  }
  .nav_link.active {
    display: flex;
  }
  .hamburger {
    display: flex !important;
  }
}